<!-- 底部 -->
<footer class="footer mt-auto py-3 bg-light" style="position: static;">
    <div class="container text-center">
        <span class="text-muted">&copy; 2024 Autumn</span>
        <br>
        <span class="text-muted">COMP-S381F</span>
    </div>
</footer>
